.entry-meta-inline-list{
  @extend %padding-regular;
  list-style-type: none;
  margin-left: 25px;
}
.tag-li{
  margin: 5px 5px;
  background-color: #333333;
}
 .tag {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
}
.tag-title {
  color: $tags-color;
  margin-bottom: 0;
}
.tagged-post {
  .title {
    margin-top: 0;
    margin-bottom: 0;
  }
}
