.entry-meta-inline-list{
  @extend %padding-regular;
  list-style-type: none;
}
.tag-li{
  float: left;
}
 .tag {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.tag-title {
  color: $tags-color;
  margin-bottom: 0;
}
.tagged-post {
  .title {
    margin-top: 0;
    margin-bottom: 0;
  }
}
